{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
   {% if user.is_authenticated %}
      <div><p>Welcome, <strong>{{ user.username }}</strong>!</p></div>
      <p>Your DisplayName is: <strong>{{ user.displayname }}</strong></p>
      <div>{{ display }}</div>
      <p><a href="{% url 'logout' %}">logout</a></p>
 {% else %}
   <h3>Your are not logged in</h3>
   <a href="{% url 'login' %}">login</a>
   <a href="{% url 'signup' %}">signup</a>
 {% endif %}
{% endblock %}